<div id="prev-day"><a href="/dashboard/<%=@date - 1%>" class="btn btn-primary">Previous Day</a></div>
  <div class="container">
    <h1 id="date">Lightning Talks - <%=@date%></h1> 
    <table id="topics-date">
      <th>Topic</th>
      <th>Author</th>
      <% @days_talks.each do |talk| %>
         <tr>
          <td class='talk'><%= talk.topic %></td>
          <td class='author'><%= talk.speaker %></td>
        </tr>
      <% end %>
    </table>
    <input class="new_talk" type="text" name="new_talk">
    <select class="new_talk">
     <% current_user.list_cohort_names(@cohort_id).each do |student| %>
        <option><%= student %></option>
     <%end%>
    </select>
    <button id="add_talk" class="btn btn-primary">add talk</button>
  </div>
<div id="next-day"><a href="/dashboard/<%=@date + 1%>" class="btn btn-primary">Next Day</a></div>







