<div id="prev-day"><a href="/dashboard/<%=@date - 1%>" class="btn btn-primary">Previous Day</a></div>
  <div class="container">
    <h1 id="date">Lightning Talks - <%=@date%></h1> 
    <table id="topics-date">
      <th>Topic</th>
      <th>Author</th>
      <% @days_talks.each do |talk| %>
         <tr>
          <td class='talk'><a href="/talk/<%=talk.id%>"><%= talk.topic %></a></td>
          <td class='author'><%= talk.speaker %></td>
        </tr>
      <% end %>
    </table>
    <a href="#" class="btn btn-primary btn-large">Add Talk</a>
  </div>
<div id="next-day"><a href="/dashboard/<%=@date + 1%>" class="btn btn-primary">Next Day</a></div>







