<div class="container">
<div>
    <h1><%= @talk.topic %></h1>
    <h3><%= @talk.date %></h3>
</div>
<form action='/talk/<%=@talk.id%>' method='post'>
  <div>
    <h2>Talk Description</h2>
    <h2><%= @talk.description %></h2>
    <input type="textarea" name="desc" id='desc_form'>
    <h2>Talk Resources</h2>
    <h2><%= @talk.resources %></h2>
    <input type="textarea" name="resources" id='resources_form'>
    <input type="submit" value="Save">
  </div>
</form>

<div>
  <img src='<%=@grav_url%>' alt='author gravatar'>
   <p><%= @talk.speaker %></p>
</div>
 
</div>
