  <div>
      <h1><%= @talk.topic %></h1>
      <h3><%= @talk.date %></h3>
  </div>
<form action='<%=@talk.id%>' method='post'>
  <div>
    <h2>Talk Description</h2>
    <h2><%= @talk.description %></h2>
    <textarea rows="20" cols="125" name="desc" id='desc_form'></textarea><br />
    <h2>Talk Resources</h2>
    <h2><%= @talk.resources %></h2>
    <textarea rows="20" cols="125" name="resources" id='resources_form'></textarea><br />
    <input type="submit" value="Save">
  </div>
</form>
  <div>
    <!-- issue: getting the gravatar of user without having the user in the db -->
    <img src='' alt='author gravatar'>
  </div> 

